body {
    margin: 0px;
    text-align: center;
    padding-top: 800px;
    background: linear-gradient(pink, blue);
}

img {
    width: 175px;
    border-radius: 50%;
    margin-bottom: 50px;
    margin-top: 100px;
    border: 5px solid yellow;
    box-shadow: 5px 10px #808080;
}

.line {
    width: 70px;
    background-color: black;
    height: 6px;
    margin: auto;
}

p {
    max-width: 850px;
    margin: auto;
    color: pink;
    font-family: 'Klee One', cursive;
    font-size: 30px;
}

#welcome {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 800px;
    color: white;
    opacity: 0.8;
    display: table;
    top: 0;
}

.menu {
    top: 0px;
    position: fixed;
    list-style: none;
    z-index: 10;
    cursor: pointer;
    background-color: cornsilk;
    width: 100%;
    margin-top: 0px;
}

.item {
    margin: 15px;
    font-size: 15px;
    font-family: cursive;
    display: inline;
}

.item:hover {
    color: aqua;
    transform: scale(1.2);
}

#name {
    font-family: 'Rampart One', cursive;
    font-size: 30px;
    color: navy;
}

.hi {
    font-family: 'Klee One', cursive;
    font-size: 30px;
    color: aqua;
}

a {
    color: chocolate;
    font-size: 30px;
}

a:visited {
    color: darkorange;
}

html {
    scroll-behavior: smooth;
}

h3 {
    display: inline;
}

#gmail {
    color: white;
    background-color: blueviolet;
}

#insta {
    color: white;
    background-color: blueviolet;
}
